 body {
    background-color:black  }
  #wrapper {
    background-color: purple;
    color: white;
    height: 36px;
    border: 12px solid yellow;
    padding: 12px;
    margin: 12px;
  }
  #dash {
    display: inline-block;
    line-height: 36px;
    height: 36px;
  }
  #dot {
    display: inline-block;
    line-height: 36px;
    height: 36px;
    position: absolute;
    right: 45px;
  } 

  #language-dropdown {
    opacity: 0;
    width: 1023px;
    display: none;
    margin-top: 3px;
    left: 0;
    position: absolute;
    border: 1px solid #ddd;
    background: #fff;
    box-shadow: 0px 3px 3px #b3b3b3;

   }

   #language-wrapper { display: inline-block; }

    #language-wrapper:hover #language-dropdown { opacity: 1; display: block; }

    .language-icon {
      color: #fff;
      font-weight:700;
      padding-right:20px;
      padding-left:30px;
      display:inline-block;
      font-size:11px;
      text-align:right;
      text-decoration:none;
      position:relative;
      left: 0; top: 0;
    }

    .fr { background: url("images/language-sprite.png") no-repeat 0 0; }
    .fr:hover { background: url("images/language-sprite.png") no-repeat 0 -20px; color: #d13030; }

     .language-icon:before {
      content:'\25BE';
      width:0px;
      height:0;
      position:absolute;
      right:16px;
      top: 0;
    }

    .language-icon:hover:before { 
      color: #d13030;
      content: '\25B4';
      top: -1px;
    }

    /* ------------------ LANGUAGE DROPDOWN ------------------ */

     #language-dropdown {
      opacity: 0;
      width: 1023px;
      display: none;
      margin-top: 3px;
      left: 0;
      position: absolute;
      border: 1px solid #ddd;
      background: #fff;
      box-shadow: 0px 3px 3px #b3b3b3;

     }

     #language-dropdown h3 {
      color: #d13030;
      font-size: 14px;
      font-weight: normal;
      padding: 5px 15px 0px 15px;
     }
    #language-dropdown p {

      font-size: 12px;
      padding: 0px 0px 10px 15px;
    }

    #language-dropdown a {
      padding: 0px 0px 0px 15px;
    }


     .language-links {
      font-size: 12px;
      text-decoration: none;
      color: #2793e6;
     }

     .language-links:hover {
      text-decoration:underline;


   }

